.cookiediv{
width:250px;
height: auto;
padding:20px;
background-color:#009700;
color:#fff;
font-size:16px;
}
.btncls{
    background-color:#2D3942;
    border: #2e6da4;
  	font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
	font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    
    border-radius: 4px;
    line-height: 1.5;
    text-decoration:none;
}


#spice-cookie-section {
    padding: 20px 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #000;
}
#spice-cookie-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.spice-cookie-para{
    margin-bottom: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}
.spice-cookie-btn
{
    display: inline-block;
    font-family: inherit;
    background-color: #ff6f61;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#spice-cookie-content .spice-cookie-para{color: #858585;}
.spice-cookie-btn:hover{color: #fff;}